#screenshot {
    @import 'reset';
    @import 'bootstrap-icons';

    #screenshot-form {
        position: fixed;
        bottom: 5%;
        left: 1%;
        z-index: 9999;
        width: 180px;

        #input-group {
            display: flex;
            align-items: center;

            #selector-input {
                width: 100%;
                height: 30px;
                font-size: 14px;
            }

            #line-button {
                padding: 1px 5px;
                color: green;
                cursor: pointer;
            }
        }

        #copyright-div {
            text-align: right;
            font-size: 12px;
        }
    }
}
